.personalText {
  position: relative;
  max-width: 50em;
  background-color: #fff;
  padding: 1.125em 1.5em;
  font-size: 0.9em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
}

.personalText::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}

.linkButton {
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold !important;
}

.boxBubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
