.rita {
  border-radius: 50%;
  border: 6px solid white;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  height: calc(80px + 2vmin);
  margin-bottom: 25px;
  margin-top: 35px;
}

@media (min-width: 600px) {
  .rita {
    border-radius: 50%;
    border: 6px solid white;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px px 0px rgba(0, 0, 0, 1);
    height: calc(100px + 2vmin);
  }
}

.rita:hover {
  transform: scale(1.5);
}
